* {
    margin: 0;
    padding: 0;
}

#nav {
    width: 600px;
    height: 30px;
    margin: 0 auto;
    background-color: rgb(38,158,181);
    padding: 10px;
    overflow: hidden;
}
#nav>div {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
#nav>div>img {
    width: 100%;
    height: 100%;
}
#content {
    width: 600px;
    margin: auto;
    margin-top: 30px;
}
.gird {
    width: 280px;
    height: 260px;
    margin-left: 20px;
    display: inline-block;
}
.gird>a>img {
    width: 100%;
    height: 100%;
}
.list {
    width: 600px;
    margin: auto;
    margin-top: 10px;
}
.list>a>img {
    width: 100%;
}
.list hr {
    margin-top: 10px;
}